
        body{
            margin: 0;
            padding: 0;
            background-color: rgb(186, 206, 206);
        }
        .header{
            margin: 5% 25% 0px 25%; 
            background-color: rgb(77, 148, 203);
            color:aliceblue;
        }

        #heading{
            text-align: center;
            padding-top: 1%;
            padding-bottom: 1%;
            font-size: 30px;
            margin: 0%;
        }

        .form{

            margin: 10px 25% 0px 25%; 
            background-color:rgb(239, 243, 242);
            text-align: center;
            font-size: 20px;

        }
        #email-error{
            color:red;

        }
        #name-error{
            color:red;
        }
        #unique-id-error{
            color:red
        }
        #article-name-error{
            color:red;
        }

        #phone-no-error{
            color:red;
        }
        .confirmation{
          width: 400px;
          background: #fff;
          border-radius: 6px;
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%,-50%);
          visibility: hidden;
        }
     
        .confirmation #btn-cancel{
            width: 40%;
            margin-top:50px ;
            margin-bottom: 20px;
            margin: 50px 10px 20px 10px;
            padding: 10px 0;
            background: #282a27;
            color: #fff;
            border:0;
            outline: none;
            font-size: 18px;
            border-radius: 4px;
            box-shadow: 0 5px 5px rgba(0,0,0,0.2);
            text-align: center;
            cursor:pointer;

        }

        .open-confirmation{
            visibility: visible;
        }

        .confirmation #submit{
            float: right;
            width: 40%;
            margin-top:50px ;
            margin-bottom: 20px;
            margin: 50px 10px 20px 10px;
            padding: 10px 0;
            background: #6fd649;
            color: #fff;
            border:0;
            outline: none;
            font-size: 18px;
            border-radius: 4px;
            box-shadow: 0 5px 5px rgba(0,0,0,0.2);
            

        }

        #dummy-submit{
            margin-bottom: 10px;        
            width: 80px;
            background: #797c78;
            color: #fff;
            border:0;
            outline: none;
            font-size: 18px;
            border-radius: 4px;
            box-shadow: 0 5px 5px rgba(0,0,0,0.2);
            text-align: center;
            cursor: pointer;
            
            
        }

        .open-submit{
            margin-bottom: 10px;
        }
